
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0 0;
  width: 100%;
}
header{
  width: 100%;
  display: block;
}
h1 {
  font-style: italic;
  color: #000000;
  background-color: red;
  height: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
h2{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3px;
}
h3{
  font-size: 1rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto auto;
}
h4{
  font-size: .7rem;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0 auto;
}
p {
  display: inline-flex;
  max-width: 150px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 25%;
  padding: 3px;
  max-height: 1.2em;
  flex-wrap: wrap;
}
div {
  max-width: 100%;
}
select{
  padding: 2px;
  margin: 10px;
}
button {
  padding: 20px;
  margin: 10px;
  text-align: center;
}
input {
  height: 1.3rem;
  margin: auto 10px;
}
.card {
  height: 400px;
  width: 600px;
  border: 2px solid black;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
}
.card-holder {
  justify-content: space-around;
  width: 100%;
}

.center{
  margin: auto;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}

.hide{
  display: none
}
.instructions {
  min-width: 500px;
  border: 5px solid red;
}
.notes {
  border: 1px solid blue;
}

.notes {
  height: 500px;
  background-color: rgb(256, 250, 200);
  color: black;
  font-size: 1.5rem;
  display: block;
}

.option-holder{
  height: auto;
  background-color: rgb(256, 250, 200);
  color: black;
  font-size: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.scoreboard{
  border: 2px solid black;
}
.scoreboard div{
  width: 33%;
  border: 1px solid red;
}

.teamatesContainer{
  width: 100%;
  flex-wrap: wrap;
}
.teamatesHand{
  min-width:25%;
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid blue;
  justify-content: center;
}
.teamatesCard{
  display: inline-block;
  width: 49%;
  text-align: center;
  border: 0.5px dashed green;
}

.vertical_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.writing {
 line-height: 1.1em;
}

#firstStep{
    flex-direction: column;
}

#root{
  width: 100%;
}
