

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0 0;
  width: 100%;
}
header{
  width: 100%;
  display: block;
}
h1 {
  font-style: italic;
  color: #000000;
  background-color: red;
  height: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
h2{
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3px;
}
h3{
  font-size: 1rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto auto;
}
h4{
  font-size: .7rem;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0 auto;
}
p {
  margin: 5px;
  padding: 2px 0px;
  font-size: 0.9rem;
  text-align: center;
}
div {
  max-width: 100%;
}
select{
  padding: 2px;
  margin: 10px;
}
button {
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  max-width: 200px;
}
input {
  height: 1.3rem;
  margin: auto 10px;
}
.active{
    box-shadow: 0px -5px 10px red ;
}
.black{
  background-color: black;
  color: white;
}

.blue{
  background-color: blue;
  color: white;
}

.orange{
  background-color: orange;
}

.red{
  background-color: red;
}

.teammatesCard.white{
  border: 0.5px solid black;
}

.card {
  height: 100%;
  width: 600px;
  border: 2px solid black;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
}

.card{
  font-size: 1rem;
}

.card_color{
  writing-mode: vertical-lr;
  padding: 0px;
  height: 85px;
}
.card-holder {
  justify-content: space-around;
  width: 100%;
  height: 400px;
}

.card_number{
  font-size: 1rem;
  padding-top: 8px;
}

.center{
  margin: auto;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}

.hide{
  display: none
}
.instructions {
  min-width: 500px;
  border: 5px solid red;
}
.message{
  height: 1.2rem;
  margin: auto;
}
.name{
  width: 100%;
  background-color: aqua;
}
.notes {
  border: 1px solid blue;
}

.notes {
  height: 187px;
  background-color: rgb(256, 250, 200);
  color: black;
  font-size: 1.5rem;
  display: block;
}

.option-holder{
  height: auto;
  background-color: rgb(256, 250, 200);
  color: black;
  font-size: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.personal{
  font-size: .8rem;
}

.player{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 49.9%;
}

.playPile{
  width: 20%;
}

.scoreboard{
  border: 2px solid black;
}

.scoreboard div{
  width: 33%;
  border: 1px solid red;
}

.teamateContainer{
  width: 100%;
  flex-wrap: wrap;
}
.teamatesHand{
  min-width:25%;
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid blue;
  justify-content: center;
}
.teammatesCard{
  display: inline-block;
  text-align: center;
  border: 0.5px solid white;
  height: 110px;
  min-width: 19%;
  border-radius: 5px;
  margin-right: -2px;
}

.teammates_hint_card{
  min-width: 20%;
  background-color: #7FFA90;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.teammates_hint_card h3{
  margin: 3px auto;
}
.update_button{
  width: 20%;
  margin: 5px;
  background-color: red;
}
.vertical_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.winner{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #1f1616;
}

.winner p{
  color: white;
  font-size: 30px;
}

.writing {
 line-height: 1.1em;
}

#firstStep{
    flex-direction: column;
}

#root{
  width: 100%;
}
